<% customers.each do |customer| %>
	<div class="col-md-4 col-xs-4">
		<div class="round_image">
			<%= link_to customer_path(customer) do %>
			  <%= attachment_image_tag customer, :profile_image, format: "jpeg", fallback: "no-image.png", class: "profile_image" %>
		  	<div class="masks">
					<div class="captions">
						<span>
							<% @average = 0 %>
							<% customer.history_comment.each do |comment| %>
								<% @average += (comment.score / customer.history_comment.count) %>
							<% end %>
							<% if @average > 0.6 %>☆☆☆☆☆
							<% elsif @average >= 0.3 %>☆☆☆☆
							<% elsif @average >= -0.3 %>☆☆☆
							<% elsif @average >= -0.6 %>☆☆
							<% elsif @average < -0.6 %>☆
							<% end %>
						</span>
					</div>
				</div>
			<% end %>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12 text-center">
				<%= link_to customer_path(customer) do %>
					<%= customer.full_name %>さん
				<% end %>
			</div>
			<div class="row">
				<div class="col-md-4 col-xs-offset-2 col-xs-4">
					<span>Follow: <%= customer.following_customer.count %></span>
				</div>
				<div class="col-md-6 col-xs-6">
					<span>Follower: <%= customer.follower_customer.count %></span>
				</div>
			</div>
			<div class="row">
				<% if shop_signed_in? %>
				<% elsif customer_signed_in?%>
					<% if current_customer != customer %>
						<div class="col-md-4 col-xs-offset-1 col-xs-4">
							<%= link_to '行ったお店', customer_path(customer), class: "btn btn-default nav-btn" %>
						</div>
						<div class="col-md-5 col-xs-5">
							<% if current_customer.following?(customer) %>
								<%= link_to 'UnFollow', customer_relationships_path(customer.id), method: :delete, remote: true, class: "btn btn-default nav-btn" %>
							<% else %>
								<%= link_to 'Follow', customer_relationships_path(customer.id), method: :POST, remote: true, class: "btn btn-default nav-btn" %>
							<% end %>
						</div>
					<% else %>
						<div class="col-md-offset-3 col-xs-offset-3">
							<%= link_to 'マイページ情報', customer_path(customer), class: "btn btn-default nav-btn" %>
						</div>
					<% end %>
				<% else %>
					<div class="col-md-4 col-xs-offset-1 col-xs-4">
						<%= link_to '行ったお店', customer_path(customer), class: "btn btn-default nav-btn" %>
					</div>
					<div class="col-md-5 col-xs-5">
						<%= link_to 'Follow', new_customer_session_path, class: "btn btn-default nav-btn" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>