<div class="row">
  <%= form_for(@customer, url: update_information_path) do |f| %>
  <% if @customer.errors.any? %>
  <% end %>
    <div class="col-md-8">
      <h2>会員情報編集　<%= link_to "退会する", confirm_unsubscribe_path, class: "btn btn-danger" %></h2>
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <td><%= f.label :名前 %></td>
            <td>
              <%= f.text_field :last_name, :placeholder =>"#{@customer.last_name}" %>
              <% if @customer.errors.include?(:last_name) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:last_name).first %>
              <% end %>
            </td>
            <td>
              <%= f.text_field :first_name, :placeholder =>"#{@customer.first_name}" %>
              <% if @customer.errors.include?(:first_name) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:first_name).first %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :フリガナ %></td>
            <td>
              <%= f.text_field :last_name_kana, :placeholder =>"#{@customer.last_name_kana}" %>
              <% if @customer.errors.include?(:last_name_kana) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:last_name_kana).first %>
              <% end %>
            </td>
            <td>
              <%= f.text_field :first_name_kana, :placeholder =>"#{@customer.first_name_kana}" %>
              <% if @customer.errors.include?(:first_name_kana) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:first_name_kana).first %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td colspan="2"><%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@customer.email}" %>
              <% if @customer.errors.include?(:email) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:email).first %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :phone_number, "電話番号(ハイフンなし10or11桁)" %></td>
            <td colspan="2">
              <%= f.text_field :phone_number, :placeholder =>"#{@customer.phone_number}"%>
              <% if @customer.errors.include?(:phone_number) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:phone_number).first %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label :introduction, "自己紹介" %><br>
              <%if @customer.introduction.present? %>
                <p id="counter">(<%= @customer.introduction.length %>文字/150文字中)</p>
              <% else %>
                <p id="counter">(0文字/150文字中)</p>
              <% end %>
            </td>
            <td colspan="2" class="row-5">
              <%= f.text_area :introduction, autofocus: true, :placeholder =>"#{@customer.introduction}", id: "input-text" %>
              <% if @customer.errors.include?(:introduction) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:introduction).first %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-offset-4">
        <%= f.submit "編集内容を保存する", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    <div class="col-md-4">
      <div>　</div>
      <div>　</div>
      <div>　</div>
      <span>プロフィール写真</span>
      <div>
        <%= attachment_image_tag @customer, :profile_image, format: "jpeg", id: "img_prev", fallback: "no-image.png", class: "profile_image" %>
        <%= f.attachment_field :profile_image %>
        <p>選択するとプレビューされます。<br>画像未選択のままだと、<br>「画像準備中」になります。</p>
      </div>
    </div>
  <% end %>
</div>


<script>
$(function(){
 $("#input-text").on('keyup', function() {
   let count = String($(this).val().length);
   $("#counter").text("(" + count + "文字/150文字中)");
 });
});
</script>