<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>会員一覧</h2>
		<% @customers.each do |customer| %>
			<div class="col-md-4">
				<%= link_to customer_path(customer) do %>
				  <%= attachment_image_tag customer, :profile_image, format: "jpeg", fallback: "no-image.png", class: "profile_image" %>
				<% end %>
				<div class="row">
					<div class="col-md-9 col-md-offset-3">
						<%= link_to customer_path(customer) do %>
							<%= customer.full_name %>さん
						<% end %>
					</div>
					<div class="col-md-5">
						<%= link_to '行ったお店', customer_path(customer), class: "btn btn-default nav-btn" %>
					</div>
					<div class="col-md-6">
						<%= link_to 'フォローする', "", class: "btn btn-default nav-btn" %>
					</div>
			</div>
			</div>
		<% end %>
	</div>
</div>