<div class="row">
  <% if flash[:notice] %>
    <p class="text-active"><%= flash[:notice] %></p>
  <% end %>
	<h2>マイページ</h2>
	<div class="col-md-8">
		<h3>
			登録情報
			<%= link_to "編集する", edit_information_path, class: "btn btn-success ml2" %>
			<%= link_to "パスワードを変更する", edit_customer_registration_path, class: "btn btn-success ml2" %>
		</h3>
	</div>
	<div class="col-md-4">
		<h3>プロフィール写真</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<table class="table table-bordered table-condensed" style="table-layout:fixed;">
			<tbody>
				<tr>
					<td style="width:150px;">名前</td>
					<td style="width:150px;"><%= @customer.last_name %></td>
					<td style="width:300px;"><%= @customer.first_name %></td>
				</tr>
				<tr>
					<td>フリガナ</td>
					<td><%= @customer.last_name_kana %></td>
					<td><%= @customer.first_name_kana %></td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td colspan="2"><%= @customer.phone_number %></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td colspan="2"><%= @customer.email %></td>
				</tr>
				<tr>
					<td>自己紹介<br>
						<%if @customer.introduction.present? %>
							<p>(<%= @customer.introduction.length %>文字/150文字中)</p>
						<% else %>
							<p>(0文字/150文字中)</p>
						<% end %>
						</td>
					<td colspan="2" class="row-5" style="white-space: pre-wrap;"><%= @customer.introduction %></td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<%= link_to "お気に入りユーザー", follow_path, class: "btn btn-primary" %><br><br>
				<%= link_to "お気に入りサロン", bookmarks_path, class: "btn btn-primary ml2" %>
			</div>
			<div class="col-md-5">
				<%= link_to '予約一覧', customer_reservation_histories_path(current_customer.id), data: {"turbolinks"=>false}, class: "btn btn-primary ml2" %><br><br>
				<%= link_to '連絡一覧', customers_talks_path, data: {"turbolinks"=>false}, class: "btn btn-primary ml2" %>
			</div>
		</div>
	</div>
	<div class="col-md-4">
    <%= attachment_image_tag @customer, :profile_image, format: "jpeg", id: "img_prev", fallback: "no-image.png", class: "profile_image" %>
	</div>
</div>