<div class="row" id="customer_show">
	<%= render partial: 'public/customers/show', locals: { customer: @customer } %>
</div>
<div class="row">
	<div class="col-md-9 col-md-offset-2">
		<h2>行ったお店</h2>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>店舗名</th>
					<th>メニュー名</th>
					<th>コメント</th>
					<th>ポジティブ度</th>
				</tr>
			</thead>
			<tbody>
				<% @reservation_histories.each do |reservation_history| %>
					<tr>
						<td>
							<%= link_to shop_path(reservation_history.menu.shop) do %>
								<%= reservation_history.menu.shop.name %>
							<% end %>
						</td>
						<td><%= reservation_history.menu.name %></td>
						<% if reservation_history.history_comment.present? %>
							<% reservation_history.history_comment.each do |comment| %>
								<td><span style="white-space: pre-wrap;"><%= comment.body %></span></td>
								<td>
									<% if comment.score > 0.6 %>☆☆☆☆☆
									<% elsif comment.score >= 0.3 %>☆☆☆☆
									<% elsif comment.score >= -0.3 %>☆☆☆
									<% elsif comment.score >= -0.6 %>☆☆
									<% elsif comment.score < -0.6 %>☆
									<% end %>
								</td>
							<% end %>
						<% else %>
							<td></td>
							<td></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>