<div class="row">
	<div class="col-md-offset-2">
		<h2>
			店舗一覧おすすめ順
			<span class="sub_title"> (全<%= @shops.total_count %>件)　　　<%= paginate @shops %></span>
		</h2>
	</div>
	<div class="col-md-2">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td class="table_item_color">ジャンル検索</td>
				</tr>
				<% @shops.each do |shop| %>
					<tr>
						<td><%= shop.genre %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-md-9">
		<table class="table">
			<tbody>
				<% @shops.each do |shop| %>
					<tr>
						<td>
							<%= link_to shop_path(shop) do %>
			        	<%= attachment_image_tag shop, :shop_image, format: "jpeg", fallback: "no-image.png", class: "preview_image" %>
			        <% end %>
			      </td>
						<td>
							<%= link_to shop_path(shop) do %>
								<h3><%= shop.name %></h3>
							<% end %>
							<h4><%= shop.promotion %></h4><br>
							<span><%= shop.full_address %></span>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>