<div class="row">
	<h2>　　　　　　　店舗一覧おすすめ順<span> (全<%= @shops.total_count %>件)</span></h2>
	<div class="col-md-2">
		<table class="table table-bordered">
			<tr>
				<th>ジャンル検索</th>
			</tr>
			<% @shops.each do |shop| %>
				<tr>
					<th>
						<%= shop.genre %>
					</th>
				</tr>
			<% end %>
		</table>
	</div>
	<div class="col-md-9">
		<table class="table">
			<tbody>
				<% @shops.each do |shop| %>
				<tr>
					<td class="image_field">
						<%= link_to shop_path(shop) do %>
		        <%= attachment_image_tag shop, :shop_image, format: "jpeg", size: "60x50", fallback: "no-image.png", class: "preview_image" %>
		        <% end %>
		      </td>
					<td>
						<%= link_to shop_path(shop) do %>
							<h3><%= shop.name %></h3><br>
						<% end %>
						<span><%= shop.promotion %></span><br><br>
						<span><%= shop.full_address %></span>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-xs-offset-5">
		<%= paginate @shops %>
	</div>
</div>