<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>
			<%= link_to shop_path(@shop) do %>
				<%= @shop.name %>
			<% end %>
			<span class="sub_title">　のメニュー　　　<%= paginate @menus %></span>
		</h2>
		<table class="table">
			<tbody>
				<% @menus.each do |menu| %>
				<tr>
					<td><%= attachment_image_tag menu, :menu_image, format: "jpeg", fallback: "no-image.png", class: "shop_menu_image" %></td>
					<td>
						<span class="menu_name"><%= menu.name %></span><br><br>
						【<%= menu.detail %>】
					</td>
					<td><%= menu.price.to_s(:delimited) %>円</td>
					<td><%= link_to "予約", "", class: "btn btn-primary" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>