<div class="row">
  <% if flash[:notice] %>
    <p class="text-active"><%= flash[:notice] %></p>
  <% end %>
  <div class="col-md-12">
		<h2>マイページ　
			<span class="sub_title glyphicon glyphicon-heart-empty"> 合計<%= @favorites.count %>　</span>
			<span class="sub_title glyphicon glyphicon-envelope"> 合計<%= @post_comments.count %></span>
		</h2>
		<h3>
			登録情報
			<%= link_to "編集する", edit_shop_information_path, data: {"turbolinks"=>false}, class: "btn btn-success" %>
			<%= link_to "パスワードを変更する", edit_shop_registration_path, class: "btn btn-success" %>
		</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table table-bordered table-condensed">
			<tbody>
				<tr>
					<td>店舗名</td>
					<td><%= @shop.name %></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%= @shop.email %></td>
				</tr>
				<tr>
					<td>店舗住所</td>
					<td>〒<%= @shop.postal_code %><br><%= @shop.full_address %></td>
				</tr>
				<tr>
					<td>店舗予算(目安)</td>
					<td><%= @shop.budget %>円</td>
				</tr>
				<tr>
					<td>席数</td>
					<td><%= @shop.seat %>席</td>
				</tr>
				<tr>
					<td>スタッフ数</td>
					<td><%= @shop.staff %>人</td>
				</tr>
				<tr>
					<td>交通手段</td>
					<td style="white-space: pre-wrap;"><%= @shop.traffic_method %></td>
				</tr>
				<tr>
					<td>お支払い方法</td>
					<td style="white-space: pre-wrap;"><%= @shop.payment_method %></td>
				</tr>
				<tr>
					<td>営業時間</td>
					<td style="white-space: pre-wrap;"><%= @shop.business_hours %></td>
				</tr>
				<tr>
					<td>駐車場情報</td>
					<td style="white-space: pre-wrap;"><%= @shop.parking %></td>
				</tr>
			</tbody>
		</table>
		<div>
			<h3>他店舗</h3>
			<%= link_to "店舗一覧", shops_path, class: "btn btn-primary" %>
			<%= link_to "投稿一覧", posts_all_path, class: "btn btn-primary ml2" %>
		</div>
	</div>
	<div class="col-md-6">
		<table class="table table-bordered table-condensed">
			<tbody>
	      <tr>
					<td style="width:100px;">店舗アピール<br>(<%= @shop.promotion.length %>/50文字)</td>
					<td class="row-2"><%= @shop.promotion %></td>
				</tr>
				<tr>
					<td>店舗紹介<br>(<%= @shop.introduction.length %>/150文字)</td>
					<td class="row-5"><%= @shop.introduction %></td>
				</tr>
	      <tr>
	        <td>店内写真</td>
	        <td>
	            <%= attachment_image_tag @shop, :shop_image, format: "jpeg", id: "img_prev", fallback: "no-image.png", class: "default_image" %>
	        </td>
	      </tr>
	      <tr>
	        <td>おすすめ<br>ジャンル</td>
	        <td><%= @shop.genre.name %></td>
	      </tr>
	    </tbody>
    </table>
	</div>
</div>

