<div class="row">
	<div class="col-md-6 col-md-offset-2">
		<h2>
			<%= @genre.name %>　一覧
			<span class="sub_title"> (全<%= @shops.total_count %>件)　　　<%= paginate @shops %></span>
			<%= link_to 'マップ表示', shops_map_path, class: "btn btn-default nav-btn" %>
		</h2>
	</div>
	<div class="col-md-4 search_box sub_title">
    <%= form_tag(search_path, method: :get) do %>
      <%= text_field_tag 'search[content]', '', class: 'shop_index_search_form', placeholder: "【例：nailsalon、梅田】"%>
      <%= submit_tag '検索', class: "btn btn-default search_btn" %>
    <% end %>
	</div>
</div>
<div class="row" id="bookmark">
	<%= render partial: 'shop/shops/index_form', locals: { genres: @genres, shops: @shops } %>
</div>
