<h2><%= @shop.name %></h2>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<table class="table">
			<tbody>
				<tr>
					<td class="image_field">
		        <%= attachment_image_tag @shop, :shop_image, format: "jpeg", size: "60x50", fallback: "no-image.png", class: "preview_image" %>
		      </td>
					<td>
						<%= @shop.promotion %><br>
						<%= @shop.introduction %><br><br>
						<span>おすすめジャンル　　　<%= @shop.genre %></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<table class="table">
			<tbody>
				<% @menus.each do |menu| %>
				<tr>
					<td class="image_field"><%= attachment_image_tag menu, :menu_image, format: "jpeg", size: "30x20", fallback: "no-image.png", size: "60x50" %></td>
					<td><%= menu.name %></td>
					<td><%= menu.price %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<% @posts.each do |post| %>
			<div class="image_field">
				<%= attachment_image_tag post, :post_image, format: "jpeg", size: "30x20", fallback: "no-image.png", size: "60x50" %><br>
				<%= post.body %>
			</div>
		<% end %>
	</div>
</div>



<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<table class="table">
			<tbody>
				<tr>
					<td>店舗名</td>
					<td><%= @shop.name %></td>
				</tr>
				<tr>
					<td>お問い合わせ</td>
					<td><%= @shop.phone_number %></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%= @shop.full_address %></td>
				</tr>
				<tr>
					<td>交通手段</td>
					<td><%= @shop.traffic_method %></td>
				</tr>
				<tr>
					<td>営業時間</td>
					<td><%= @shop.business_hours %></td>
				</tr>
				<tr>
					<td>予算</td>
					<td><%= @shop.budget %></td>
				</tr>
				<tr>
					<td>お支払い方法</td>
					<td><%= @shop.payment_method %></td>
				</tr>
				<tr>
					<td>席数</td>
					<td><%= @shop.seat %>席</td>
				</tr>
				<tr>
					<td>スタッフ数</td>
					<td><%= @shop.staff %>人</td>
				</tr>
				<tr>
					<td>駐車場</td>
					<td><%= @shop.parking %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>









