<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2><%= @shop.name %></h2>
		<table class="table">
			<tbody>
				<tr>
					<td class="image_field">
		        <%= attachment_image_tag @shop, :shop_image, format: "jpeg", fallback: "no-image.png", class: "shop_show_top_image" %>
		      </td>
					<td>
						<h3><%= @shop.promotion %></h3><br><br>
						<%= @shop.introduction %><br><br>
						<h4>おすすめジャンル　　　<span class="genre_box"><%= @shop.genre %></span></h4>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3>メニュー　　　<span class="sub_title"><%= link_to 'もっと見る>', shop_menu_list_path(@shop) %></span></h4>
		<table class="table">
			<tbody>
				<% @menus.each do |menu| %>
				<tr>
					<td><%= attachment_image_tag menu, :menu_image, format: "jpeg", fallback: "no-image.png", class: "shop_show_menu_image" %></td>
					<td>
						・<%= menu.name %><br><br>
						【<%= menu.detail %>】
					</td>
					<td><%= menu.price.to_s(:delimited) %>円</td>
					<td><%= link_to "予約", "", class: "btn btn-primary" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3>最近の投稿　　<span class="sub_title"><%= link_to 'もっと見る>', shop_posts_list_path(@shop) %></span></h4>
		<% @posts.each do |post| %>
			<div class="col-md-4">
				<%= link_to shop_post_path(@shop, post) do %>
					<%= attachment_image_tag post, :post_image, format: "jpeg", fallback: "no-image.png", class: "shop_show_post_image" %><br>
				<% end %>
				<%= post.body %>
			</div>
		<% end %>
	</div>
</div>
<div class="row" style="margin-top: 30px;">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td class="table_item_color">店舗名</td>
					<td><%= @shop.name %></td>
				</tr>
				<tr>
					<td class="table_item_color">お問い合わせ</td>
					<td><%= @shop.phone_number %></td>
				</tr>
				<tr>
					<td class="table_item_color">住所</td>
					<td><%= @shop.full_address %></td>
				</tr>
				<tr>
					<td class="table_item_color">交通手段</td>
					<td><%= @shop.traffic_method %></td>
				</tr>
				<tr>
					<td class="table_item_color">営業時間</td>
					<td><%= @shop.business_hours %></td>
				</tr>
				<tr>
					<td class="table_item_color">予算</td>
					<td><%= @shop.budget.to_s(:delimited) %>円</td>
				</tr>
				<tr>
					<td class="table_item_color">お支払い方法</td>
					<td><%= @shop.payment_method %></td>
				</tr>
				<tr>
					<td class="table_item_color">席数</td>
					<td><%= @shop.seat %>席</td>
				</tr>
				<tr>
					<td class="table_item_color">スタッフ数</td>
					<td><%= @shop.staff %>人</td>
				</tr>
				<tr>
					<td class="table_item_color">駐車場</td>
					<td><%= @shop.parking %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>









