<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>予約情報</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ご予約店舗</th>
					<th>ご予約メニュー</th>
					<th>お支払い予定金額</th>
				</tr>
			</thead>
			<tbody>
				<% @reservation_menus.each do |reservation_menu| %>
				<tr>
					<td><%= reservation_menu.menu.shop.name %></td>
					<td><%= reservation_menu.menu.name %></td>
					<td><%= reservation_menu.menu.price.to_s(:delimited) %>円</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-3">
		<h4>お間違いなければ</h4>
		<%= link_to '日時選択へ進む', new_shop_session_path, class: "btn btn-default btn-lg" %>
	</div>
	<div class="col-md-4">
		<h4>変更される場合は</h4>
		<%= link_to '前の画面へ戻る', :back, class: "btn btn-default btn-lg" %>
	</div>
</div>