<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>
			<%= link_to shop_path(@shop) do %>
				<%= @shop.name %>
			<% end %>
			<span class="sub_title">　の投稿一覧　　　<%= paginate @posts %></span>
		</h2>
		<% @posts.each do |post| %>
			<div class="col-md-4 col-xs-4">
				<div class="posts">
					<%= link_to shop_post_path(@shop, post) do %>
						<%= attachment_image_tag post, :post_image, format: "jpeg", fallback: "no-image.png", class: "post_default_image" %>
						<div class="mask">
							<div class="caption">
								<% if post.favorited_by?(current_customer) %>
									<span class="glyphicon glyphicon-heart"> <%= post.favorites.count%>　</span>
								<% else %>
									<span class="glyphicon glyphicon-heart-empty"> <%= post.favorites.count %>　</span>
								<% end %>
								<span class="glyphicon glyphicon-envelope"> <%= post.post_comments.count %></span>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>