<div class="row">
	<div class="col-md-10 col-md-offset-2">
		<h2>サロン詳細</h2>
	</div>
	<div class="col-md-3 col-md-offset-2 col-xs-4">
		<%= link_to shop_path(@shop) do %>
			<%= attachment_image_tag @shop, :shop_image, format: "jpeg", fallback: "no-image.png", class: "profile_image" %>
			<% end %>
	</div>
	<div class="col-md-4 col-xs-4">
		<table>
			<tbody>
				<tr>
					<td>
						<h3>
							<%= link_to shop_path(@shop) do %>
								<%= @shop.name %>
							<% end %>
							さん</h3><br>
							<%= @shop.promotion %><br><br>
							<%= @shop.introduction %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-3 col-xs-4">
		<span id="show_bookmark" style="font-size: 40px;"><%= render partial: 'shop/bookmarks/form', locals: { shop: @shop } %></span>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-12">
		<h3>Contact</h3>
		<%= form_with model: [:shop, @talk] do |f| %>
			<div class="row">
				<div class="col-md-9 col-md-offset-1 row-5 col-xs-11">
				  <%= f.text_area :body, autofocus: true %>
				  <%= f.hidden_field :talk_room_id %>
				  <%= f.hidden_field :shop_id, value: @shop.id %>
				  <%= f.hidden_field :customer_id, value: current_customer.id %>
				</div>
				<div class="col-md-1 col-xs-1"><br>
				  <%= f.submit "送信", class: "btn btn-success btn-lg" %>
				</div>
			</div>
		<% end %>
		<div class="row">
			<div class="col-md-9 col-md-offset-1 col-xs-12">
				<% @talks.each do |talk| %>
					<table class="table" style="table-layout: fixed;">
						<tr>
					    <% if talk.contributor == "shop" %>
					    	<td class="col-md-3 text-center col-xs-3">
					    		<%= link_to shop_path(@shop) do %>
										<%= attachment_image_tag @shop, :shop_image, format: "jpeg", fallback: "no-image.png", class: "profile_talk_image" %>
									<% end %><br>
									<span><%= @shop.name %></span><br>
									<%= talk.created_at.strftime("%Y/%m/%d").to_s %><br>
									<%= talk.created_at.strftime("%H時%M分").to_s %>
								</td>
						    <td class="col-md-8 col-xs-8" style="white-space: pre-wrap;"><%= talk.body %></td>
						  <% else %>
						    <td class="col-md-3 col-xs-3 text-center">
					    		<%= link_to customer_path(current_customer) do %>
										<%= attachment_image_tag current_customer, :profile_image, format: "jpeg", fallback: "no-image.png", class: "profile_talk_image" %>
									<% end %><br>
									<span>You</span><br>
									<%= talk.created_at.strftime("%Y/%m/%d").to_s %><br>
									<%= talk.created_at.strftime("%H時%M分").to_s %>
					    	</td>
					    	<td class="col-md-8 col-xs-8" style="white-space: pre-wrap;"><%= talk.body %></td>
					    <% end %>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
	</div>
</div>

















