<% shops.each do |shop| %>
	<tr>
		<td>
			<%= link_to shop_path(shop) do %>
      	<%= attachment_image_tag shop, :shop_image, format: "jpeg", fallback: "no-image.png", class: "preview_image" %>
      <% end %>
    </td>
		<td>
			<h3 class="col-md-11">
				<%= link_to shop_path(shop) do %>
					<%= shop.name %>
				<% end %>
			</h3>
			<h3 class="col-md-1">
				<% if customer_signed_in? %>
					<span id="bookmark">
						<% if shop.bookmarked_by?(current_customer) %>
							<%= link_to shop_bookmarks_path(shop), method: :delete, remote: true do %>
								<span class="glyphicon glyphicon-star"></span>
							<% end %>
						<% else %>
							<%= link_to shop_bookmarks_path(shop), method: :post, remote: true do %>
								<span class="glyphicon glyphicon-star-empty"></span>
							<% end %>
						<% end %>
					</span>
				<% elsif shop_signed_in? %>
					<span>　</span>
				<% else %>
					<%= link_to new_customer_session_path do %>
						<span class="glyphicon glyphicon-star-empty"></span>
					<% end %>
				<% end %>
			</h3>
			<h4><%= shop.promotion %></h4><br>
			<span><%= shop.full_address %></span>
		</td>
	</tr>
<% end %>