<% reservation_histories.each do |history| %>
	<% if history.reserve.customer == current_customer %>
		<tr>
			<td><%= history.reserve.reservation.to_s(:datetime_jp) %></td>
			<td><%= history.menu.shop.name %></td>
			<td><%= history.menu.name %></td>
			<td><%= history.menu.price.to_s(:delimited) %>円</td>
			<% if history.history_comment.present? %>
				<% history.history_comment.each do |comment| %>
					<td><%= comment.body %></td>
					<td><%= link_to '削除', customer_reservation_history_history_comment_path(current_customer.id, history.id, comment.id), class: 'btn-sm btn-danger', method: :delete, remote: true %></td>
					<% end %>
			<% else %>
				<%= render partial: 'public/reservation_histories/form',locals: { history_comment: history_comment, reservation_history: history} %>
			<% end %>
		</tr>
	<% end %>
<% end %>