<div class="row" id="talk_count">
	<%= render partial: 'public/talks/follow', locals: { customer: @customer } %>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-12">
		<h3>Contact</h3>
		<%= form_with model: [:customer, @talk], url: customer_talks_path, data: {remote: true}  do |f| %>
			<div class="row">
				<div class="col-md-9 col-md-offset-1 col-xs-11 row-5">
				  <%= f.text_area :body, autofocus: true %>
				  <%= f.hidden_field :talk_room_id %>
				  <%= f.hidden_field :to_customer, value: @customer.id %>
				  <% if customer_signed_in? %>
				  	<%= f.hidden_field :customer_id, value: current_customer.id %>
				  <% elsif shop_signed_in? %>
				  	<%= f.hidden_field :customer_id, value: @customer.id %>
				  	<%= f.hidden_field :contributor, {value: 'shop'}  %>
				  <% end %>
				</div>
				<div class="col-md-1 col-xs-1"><br>
					<%= f.submit "送信", class: "btn btn-success btn-lg" %>
				</div>
			</div>
		<% end %>
		<div class="row" id="customer_talk">
			<%= render 'public/talks/show', talks: @talks, customer: @customer %>
		</div>
	</div>
</div>