<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>ネイルジャンルから探す</h2>
		<div class="row">
			<div class="col-md-12">
				<% @genres.shuffle.first(4).each do |genre| %>
					<div class="col-md-3">
						<%= link_to shops_search_path(genre_id: genre.id) do %>
							<%= attachment_image_tag genre, :genre_image, format: "jpeg", fallback: "no-image.png", class: "profile_image" %>
						<% end %>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 btn btn-default">
								<%= link_to shops_search_path(genre_id: genre.id) do %>
									<%= genre.name %>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<h2>投稿から探す<span class="sub_title"><%= link_to '＞もっと見る', posts_all_path %></span></h2>
		<div class="row">
			<div class="col-md-12">
				<% @posts.shuffle.first(4).each do |post| %>
					<div class="col-md-3">
						<%= link_to shop_post_path(post.shop, post) do %>
							<%= attachment_image_tag post, :post_image, format: "jpeg", fallback: "no-image.png", class: "profile_image" %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
		<h2>ユーザーから探す<span class="sub_title"><%= link_to '＞もっと見る', customers_path %></span></h2>
		<div class="row">
			<div class="col-md-12">
				<% @customers.shuffle.first(4).each do |customer| %>
					<div class="col-md-3">
						<%= link_to customer_path(customer) do %>
							<%= attachment_image_tag customer, :profile_image, format: "jpeg", fallback: "no-image.png", class: "profile_image" %>
						<% end %>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 btn btn-default">
								<%= link_to customer_path(customer) do %>
									<%= customer.full_name %> さん
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

