<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2 style="margin-top: 50px;">ジャンルから探す<span class="sub_title"><%= link_to '＞もっと見る', shops_path %></span></h2>
		<div class="row">
			<div class="col-md-12">
				<% @genres.shuffle.first(4).each do |genre| %>
					<div class="col-md-3 col-xs-3">
						<%= link_to shops_search_path(genre_id: genre.id) do %>
							<%= attachment_image_tag genre, :genre_image, format: "jpeg", fallback: "no-image.png", class: "profile_image" %>
						<% end %>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-4 btn btn-default">
								<%= link_to shops_search_path(genre_id: genre.id) do %>
									<%= genre.name %>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<h2 style="margin-top: 80px;">投稿から探す<span class="sub_title"><%= link_to '＞もっと見る', posts_all_path %></span></h2>
		<div class="row">
			<div class="col-md-12">
				<% @posts.shuffle.first(4).each do |post| %>
					<div class="col-md-3 col-xs-3">
						<div class="round_image">
							<%= link_to shop_post_path(post.shop, post) do %>
								<%= attachment_image_tag post, :post_image, format: "jpeg", fallback: "no-image.png", class: "profile_image" %>
								<div class="masks">
									<div class="captions">
										<% if customer_signed_in? %>
											<% if post.favorited_by?(current_customer) %>
												<span class="glyphicon glyphicon-heart"> <%= post.favorites.count%>　</span>
											<% else %>
												<span class="glyphicon glyphicon-heart-empty"> <%= post.favorites.count %>　</span>
											<% end %>
										<% else %>
											<span class="glyphicon glyphicon-heart-empty"> <%= post.favorites.count %>　</span>
										<% end %>
										<span class="glyphicon glyphicon-envelope"> <%= post.post_comments.count %></span>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<h2 style="margin-top: 80px;">ユーザーから探す<span class="sub_title"><%= link_to '＞もっと見る', customers_path %></span></h2>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<% @customers.shuffle.first(4).each do |customer| %>
					<div class="col-md-3 col-xs-3">
						<div class="round_image">
							<%= link_to customer_path(customer) do %>
								<%= attachment_image_tag customer, :profile_image, format: "jpeg", fallback: "no-image.png", class: "profile_image" %>
								<div class="masks">
									<div class="captions">
										<span>
											<% @average = 0 %>
											<% if customer.history_comments.present? %>
												<% customer.history_comments.each do |comment| %>
													<% @average += (comment.score / customer.history_comments.count) %>
												<% end %>
											<% end %>
											<% if @average > 0.6 %>☆☆☆☆☆
											<% elsif @average >= 0.3 %>☆☆☆☆
											<% elsif @average >= -0.3 %>☆☆☆
											<% elsif @average >= -0.6 %>☆☆
											<% elsif @average < -0.6 %>☆
											<% end %>
										</span>
									</div>
								</div>
							<% end %>
						</div>
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-3 text_center btn btn-default">
								<%= link_to customer_path(customer) do %>
									<%= customer.full_name %> さん
								<% end %>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 col-xs-6 col-xs-offset-4">
								<span>Follow: <%= customer.following_customer.count %></span>
							</div>
							<div class="col-md-7 col-xs-7 col-xs-offset-4">
								<span>Follower: <%= customer.follower_customer.count %></span>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

