<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>ジャンル編集</h2>
  </div>
</div>

<div class="row">
  <%= form_for(@genre, url: genre_path) do |f| %>
  <% if @genre.errors.any? %>
  <% end %>
    <div class="col-md-3 col-md-offset-3">
      <div class="image_field">
        <%= attachment_image_tag @genre, :genre_image, format: "jpeg", id: "img_prev", fallback: "no-image.png", class: "default_image" %>
        <%= f.attachment_field :genre_image %>
        <p>選択するとプレビューされます。<br>画像未選択のままだと、<br>「画像準備中」になります。</p>
      </div>
    </div>
    <div class="col-md-6">
      <table class="table-condensed">
        <tbody>
          <tr>
            <td>ジャンル名<br>
            <td>
              <%= f.text_field :name, autofocus: true%>
              <% if @genre.errors.include?(:name) %>
                <p style="color: red;"><%= @genre.errors.full_messages_for(:name).first %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= f.radio_button :is_void_flag, true, checked: true %>
              <%= f.label :is_void_flag, '有効', value: true %>
              <%= f.radio_button :is_void_flag, false %>
              <%= f.label :is_void_flag, '無効', value: false %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-offset-2 devise_btn">
          <%= f.submit "変更を保存する", class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
  <% end %>
</div>