<div class="row">
	<div class="col-md-6 col-md-offset-2">
		<h2>検索ワード：<%= @content %>
			<span class="sub_title"> (全<%= @records.total_count %>件)　　　<%= paginate @records %></span>
			<%= link_to 'リスト表示', shops_path, class: "btn btn-default nav-btn" %>
		</h2>
	</div>
	<div class="col-md-4 search_box sub_title">
    <%= form_tag(map_search_path, method: :get) do %>
      <%= text_field_tag 'search[content]', '', class: 'shop_index_search_form', placeholder: "【例：nailsalon、梅田】"%>
      <%= submit_tag '検索', class: "btn btn-default search_btn" %>
    <% end %>
	</div>
</div>
<%= render 'shop/shops/map', genres: @genres, shops: @records %>