<div class="row">
	<div class="col-md-offset-2">
		<h2>検索ワード：<%= @content %>
			<span class="sub_title"> (全<%= @records.count %>件)　　　<%= paginate @records %></span>
			<%= link_to 'マップ表示', shops_map_path, class: "btn btn-default nav-btn" %>
		</h2>
	</div>
	<%= render 'shop/shops/index', shops: @records %>
</div>