<div class="row">
  <h4 class="col-xs-2 title-color devise-registrations-new-title">新規会員登録</h4>
</div>

<div class="row">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    <table class="table-condensed devise-registrations-new-table">
      <tr>
        <td>
          <span class="text-danger">必須</span>　
          <%= f.label :名前 %>
        </td>
        <td><%= f.label :'(姓）' %></td>
        <td><%= f.text_field :last_name, autofocus: true, class: "last_name" %></td>
        <td><%= f.label :'　　(名）' %></td>
        <td><%= f.text_field :first_name, autofocus: true, class: "first_name" %></td>
      </tr>
      <tr>
        <td>
          <span class="text-danger">必須</span>　
          <%= f.label :フリガナ %>
        </td>
        <td><%= f.label :'(セイ)' %></td>
        <td><%= f.text_field :last_name_kana, autofocus: true, class: "last_name_kana" %></td>
        <td><%= f.label :'　　(メイ)' %></td>
        <td><%= f.text_field :first_name_kana, autofocus: true, class: "first_name_kana" %></td>
      </tr>
      <tr>
        <td>
          <span class="text-danger">必須</span>　
          <%= f.label :'電話番号(ハイフンなし）' %>
        </td>
        <td></td>
        <td><%= f.text_field :phone_number, autofocus: true, class: "phone_number" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <span class="text-danger">必須</span>　
          <%= f.label :メールアドレス %>
        </td>
        <td></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <span class="text-danger">必須</span>　
          <%= f.label :'パスワード' %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上）</em>
            <% end %>
        </td>
        <td></td>
        <td><%= f.password_field :password, autocomplete: "new-password", class: "password" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <span class="text-danger">必須</span>　
          <%= f.label :'パスワード(確認用）' %>
        </td>
        <td></td>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password_confirmation" %></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div class="col-md-4 col-md-offset-4" style="margin-top: 15px; margin-bottom: 15px:">
      <%= f.submit "新規登録", class: "btn btn-success devise-registrations-new-sign-up-btn" %>
    </div>
  <% end %>
</div>

<div class="row">
  <h4 class="col-md-2 title-color devise-registrations-new-sign-up-title">既に登録済みの方</h4>
</div>
<div class="devise-registrations-new-sign-up-message">
  <%= render "devise/shared/links" %> からログインしてください
</div>

<%= link_to '店舗様新規登録はこちら', new_shop_registration_path %>

