<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<h2>予約履歴一覧<span class="sub_title">　　　　<%= paginate @reserves %></span></h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>予約日</th>
					<th>店舗名</th>
					<th>メニュー名</th>
					<th>メニュー金額</th>
				</tr>
			</thead>
			<tbody>
				<% @reserves.each do |reserve| %>
					<tr>
						<td>
							<%= reserve.reservation_date.to_s(:datetime_jp) %>
							<%= reserve.reservation_time.to_s(:datetime_jp) %>
						</td>
						<% reserve.reservation_history.each do |reservation_history| %>
							<td><%= reservation_history.menu.shop.name %></td>
							<td><%= reservation_history.menu.name %></td>
							<td><%= reservation_history.menu.price.to_s(:delimited) %>円</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>