<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<h2>ご予約日時選択</h2>
		<div class="col-md-6">
			<div id="calendar"></div>
		</div>
		<div class="col-md-5 reserve_form">
			<table class="table">
				<tbody>
					<%= form_for(@reserve, url: "/reserves/confirm") do |f| %>

						<tr>
							<td><%= f.label :ご予約日程 %></td>
							<td><%= f.date_field :reservation_date, autofocus: true, class: "f_date" %></td>
						</tr>
						<tr>
							<td><%= f.label :ご予約時間 %></td>
							<td><%= f.time_field :reservation_time, :placeholder => "15時30分" %></td>
						</tr>
						<tr>
							<td></td>
							<td><%= f.submit "確認画面へ進む", class: "btn btn-danger btn-wide btn-lg" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<h4>変更される場合は</h4>
			<%= link_to '前の画面へ戻る', :back, class: "btn btn-default btn-lg" %>
		</div>
	</div>
</div>

