<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<h2>ご予約日時選択</h2>
		<div class="col-md-6">
			<div id="calendar"></div>
		</div>
		<div class="col-md-5 reserve_form">
			<table class="table">
				<tbody>
					<%= form_for(@reserve, url: "/reserves/confirm") do |f| %>
						<tr>
							<td><%= f.label :ご予約日程 %></td>
							<td><%= f.text_field :reservation, autofocus: true, class: "select_date" %></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<%= f.submit "確認画面へ進む", class: "btn btn-danger btn-wide btn-lg" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<h4>変更される場合は</h4>
			<%= link_to '前の画面へ戻る', :back, class: "btn btn-default btn-lg" %>
		</div>
	</div>
</div>

<script>
$(function(){
    $('#calendar').fullCalendar({
        reserves: '/reserves.json',
        titleFormat: 'YYYY年 M月',
        dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
        header: {
            left: '',
            center: 'title',
            right: 'today prev,next'
        },
        defaultView: 'agendaWeek',
        defaultTimedEventDuration: '15:00:00',
        minTime: "10:00:00",
				maxTime: "20:00:00",
				firstDay:"today",
				snapDuration: '01:30:00',
        buttonText: {
            prev: '前',
            next: '次',
            prevYear: '前年',
            nextYear: '翌年',
            today: '今日',
            month: '月',
            week: '週',
            day: '日'
        },
        selectable: true,
        selectHelper: true,
        select: function(start) {
        	if(start.isBefore(moment())) {
		        $('#calendar').fullCalendar('unselect');
		        return false;
		      }
          console.log(start);
          var str = moment(start).format( 'YYYY-MM-DD hh:mm' );
          console.log(str);
          $('.reserve_form').show('1000');
          $('.select_date').val(str);
        }
    });
});
</script>