<!DOCTYPE html>
<html>
  <head>
    <title>Nailsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if shop_signed_in? %>
      <header class="shop-header">
        <div class="container navbar-fixed-top nav-head">
          <div class="row">
            <div class="nav navbar-nav navbar-left">
              <%= link_to 'Nailsite', root_path, class: "logo" %>
              <p>ようこそ、<%= current_shop.name %>様!</p>
            </div>
            <div>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'マイページ', shop_mypage_path, class: "btn btn-default nav-btn" %></li>
                <li><%= link_to '予約一覧', reservation_histories_path, class: "btn btn-default nav-btn" %></li>
                <li><%= link_to 'メニュー', shop_menus_path(current_shop), class: "btn btn-default nav-btn" %></li>
                <li><%= link_to '投稿', shop_posts_path(current_shop), class: "btn btn-default nav-btn" %></li>
                <li><%= link_to '会員一覧', "", class: "btn btn-default nav-btn" %></li>
                <li><%= link_to 'ログアウト', destroy_shop_session_path, method: :delete, class: "btn btn-default nav-btn" %></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <main><%= yield %></main>
      </div>
    <% elsif customer_signed_in? %>
      <header class="customer-header">
        <div class="container navbar-fixed-top nav-head">
          <div class="row">
            <div class="nav navbar-nav navbar-left">
              <%= link_to 'Nailsite', root_path, class: "logo" %>
              <p>ようこそ、<%= current_customer.full_name %>さん!</p>
            </div>
            <div>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'マイページ', mypage_path, class: "btn btn-default nav-btn" %></li>
                <li><%= link_to 'トップ', shops_path, class: "btn btn-default nav-btn" %></li>
                <li><%= link_to '予約一覧', customer_reserves_path(current_customer), class: "btn btn-default nav-btn" %></li>
                <li><%= link_to 'お気に入り', "", class: "btn btn-default nav-btn" %></li>
                <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-default nav-btn" %></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <main data-turbolinks="false"><%= yield %></main>
      </div>
    <% elsif current_page?(root_path) || current_page?(about_path) %>
      <header class="top-header">
        <div class="container navbar-fixed-top nav-head">
          <div class="row">
            <div class="nav navbar-nav navbar-left">
              <%= link_to 'Nailsite', root_path, class: "logo" %>
            </div>
            <div>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to '使い方', about_path, class: "btn btn-default nav-btn" %></li>
                <li><%= link_to '店舗一覧', shops_path, class: "btn btn-default nav-btn" %></li>
                <li><%= link_to '投稿一覧', posts_all_path, class: "btn btn-default nav-btn" %></li>
                <li><%= link_to '新規登録', new_customer_registration_path, class: "btn btn-default nav-btn" %></li>
                <li><%= link_to 'ログイン', new_customer_session_path, class: "btn btn-default nav-btn" %></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <main><%= yield %></main>
      </div>
    <% else %>
      <header class="main-header">
        <div class="container navbar-fixed-top nav-head">
          <div class="row">
            <div class="main-header">
              <div class="nav navbar-nav navbar-left">
                <%= link_to 'Nailsite', root_path, class: "logo" %>
              </div>
              <div>
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to '使い方', about_path, class: "btn btn-default nav-btn" %></li>
                  <li><%= link_to '店舗一覧', shops_path, class: "btn btn-default nav-btn" %></li>
                  <li><%= link_to '投稿一覧', posts_all_path, class: "btn btn-default nav-btn" %></li>
                  <li><%= link_to '新規登録', new_customer_registration_path, class: "btn btn-default nav-btn" %></li>
                  <li><%= link_to 'ログイン', new_customer_session_path, class: "btn btn-default nav-btn" %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <main><%= yield %></main>
      </div>
    <% end %>
    <div class="container">
      <footer>Copyright © Hirano Takahiro. All Rights Reserved.</footer>
    </div>
  </body>
</html>